### FiboRep Logs:   
Rep5 - Apr, 12, 2020  - Completed APr17
    

# 18. Import pandas 

# a. import data to pandas

In [27]:
#### import pandas as pd

df = pd.read_csv('~/python/datacamp/Notes/datasets/brics.csv', index_col = 0)

In [4]:
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
# b. Do a for loop of the index and Country

In [5]:
for index, col in df.iterrows():
    print("{} - {}, {}".format(index, col['country'], col['capital']))

BR - Brazil, Brasilia
RU - Russia, Moscow
IN - India, New Delhi
CH - China, Beijing
SA - South Africa, Pretoria

In [ ]:
# c. Do a for loop to upper the country

In [7]:
for index, col in df.iterrows():
    print(col['country'].upper())

BRAZIL
RUSSIA
INDIA
CHINA
SOUTH AFRICA

In [ ]:
# d. Show the value of the capital BR index

In [12]:
# pull as a data frame
df.loc[['BR'], ['capital']]

     capital
BR  Brasilia

In [20]:
#pull data as string
df.loc['BR', 'capital']

'Brasilia'

In [21]:
# pull data with primary index of capital
df.loc['BR', ['capital']]

capital    Brasilia
Name: BR, dtype: object

In [ ]:
## e. Get the value of teh capital columns using 2 methods

In [23]:
df['capital']

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [24]:
df.loc[:, 'capital']

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [ ]:
## f. Get the value of BR rows

In [25]:
df.loc['BR', :]

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [26]:
type(df.loc['BR', :])

pandas.core.series.Series

In [28]:
#### g. Whast is the datatype of data pulled e and e: Panda series

In [29]:
for index, col in df.iterrows():
    df.loc[index, 'COUNTRY'] = col['country'].upper()

In [38]:
df

         country    capital    area  population       COUNTRY
BR        Brazil   Brasilia   8.516      200.40        BRAZIL
RU        Russia     Moscow  17.100      143.50        RUSSIA
IN         India  New Delhi   3.286     1252.00         INDIA
CH         China    Beijing   9.597     1357.00         CHINA
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA

In [ ]:
#### B. APPLY DATAFRAME

In [40]:
df['CAPITAL'] = df['capital'].apply(str.upper)

In [42]:
df

         country    capital    area  population       COUNTRY    CAPITAL
BR        Brazil   Brasilia   8.516      200.40        BRAZIL   BRASILIA
RU        Russia     Moscow  17.100      143.50        RUSSIA     MOSCOW
IN         India  New Delhi   3.286     1252.00         INDIA  NEW DELHI
CH         China    Beijing   9.597     1357.00         CHINA    BEIJING
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA   PRETORIA

In [48]:
df['CAPITAL2'] = df['capital'].str.upper()

In [49]:
df.head()

,country,capital,area,population,COUNTRY,CAPITAL,CAPITAL2
BR,Brazil,Brasilia,8.516,200.40,BRAZIL,BRASILIA,BRASILIA
RU,Russia,Moscow,17.100,143.50,RUSSIA,MOSCOW,MOSCOW
IN,India,New Delhi,3.286,1252.00,INDIA,NEW DELHI,NEW DELHI
CH,China,Beijing,9.597,1357.00,CHINA,BEIJING,BEIJING
SA,South Africa,Pretoria,1.221,52.98,SOUTH AFRICA,PRETORIA,PRETORIA

In [52]:
df['COUNTX'] = df['capital'].apply(lambda x: len(x))

In [53]:
df

,country,capital,area,population,COUNTRY,CAPITAL,CAPITAL2,COUNTX
BR,Brazil,Brasilia,8.516,200.40,BRAZIL,BRASILIA,BRASILIA,8
RU,Russia,Moscow,17.100,143.50,RUSSIA,MOSCOW,MOSCOW,6
IN,India,New Delhi,3.286,1252.00,INDIA,NEW DELHI,NEW DELHI,9
CH,China,Beijing,9.597,1357.00,CHINA,BEIJING,BEIJING,7
SA,South Africa,Pretoria,1.221,52.98,SOUTH AFRICA,PRETORIA,PRETORIA,8

In [1]:
### 18. Adding a new column in a panda dataframe

In [4]:
# a. Import data to pandas
import pandas as pd

df = pd.read_csv("~/python/datacamp/Notes/datasets/brics.csv", index_col = 0)

In [3]:
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
# b. Do a for loop for the index, Country and Capital

In [6]:
for index, col in df.iterrows():
    print("{} - {}, {}".format(index, col['country'], col['capital']))

BR - Brazil, Brasilia
RU - Russia, Moscow
IN - India, New Delhi
CH - China, Beijing
SA - South Africa, Pretoria

In [7]:
# c. Do a for loop to upper the country values

In [ ]:
for index, col in df.iterrows():
    print(col[''])

In [15]:
for index in df:
    print(index)

country
capital
area
population

In [16]:
for i,c in df.items():
    print(i)
    print('------')
    print(c)

country
------
BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object
capital
------
BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object
area
------
BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64
population
------
BR     200.40
RU     143.50
IN    1252.00
CH    1357.00
SA      52.98
Name: population, dtype: float64

In [13]:
for i,c in df.iterrows():
    print(i)
    print('------')
    print(c)

BR
------
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
------
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
------
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object
CH
------
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object
SA
------
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [17]:
for index, col in df.iterrows():
    print(col['country'].upper())

BRAZIL
RUSSIA
INDIA
CHINA
SOUTH AFRICA

In [18]:
# c. Show the value of capitalt o BR index

In [19]:
df.loc['BR', 'capital']

'Brasilia'

In [ ]:
df.loc['BR', 'capital']

In [20]:
type(df.loc['BR', 'capital'])

str

In [21]:
df.loc[['BR'], 'capital']

BR    Brasilia
Name: capital, dtype: object

In [22]:
type(df.loc[['BR'], 'capital'])

pandas.core.series.Series

In [23]:
df.loc[['BR'], ['capital']]

     capital
BR  Brasilia

In [24]:
type(df.loc[['BR'], ['capital']])

pandas.core.frame.DataFrame

In [ ]:
df.loc['BR', 'capital']

In [ ]:
# e. Get teh value of the capital columns using 2 methods

In [25]:
df['capital']

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [26]:
df.loc[:, 'capital']

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [27]:
df.loc[:, ['capital']]

      capital
BR   Brasilia
RU     Moscow
IN  New Delhi
CH    Beijing
SA   Pretoria

In [28]:
# f. Get the value of the BR rows. Can you pull the data using the 2 methods?

In [29]:
df.loc['BR', :]

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [30]:
# g. What is the datatype pulled? Panda series

In [ ]:
# h. Add a new column with all the letter of country capitalized

In [33]:
for index, col in df.iterrows():
    df.loc[index, 'COUNTRY'] =  col['country'].upper()

In [34]:
df

         country    capital    area  population       COUNTRY
BR        Brazil   Brasilia   8.516      200.40        BRAZIL
RU        Russia     Moscow  17.100      143.50        RUSSIA
IN         India  New Delhi   3.286     1252.00         INDIA
CH         China    Beijing   9.597     1357.00         CHINA
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA

In [ ]:
## APPLY DataFrame

In [36]:
df['CAPITAL'] = df['capital'].apply(str.upper)

In [37]:
df

         country    capital    area  population       COUNTRY    CAPITAL
BR        Brazil   Brasilia   8.516      200.40        BRAZIL   BRASILIA
RU        Russia     Moscow  17.100      143.50        RUSSIA     MOSCOW
IN         India  New Delhi   3.286     1252.00         INDIA  NEW DELHI
CH         China    Beijing   9.597     1357.00         CHINA    BEIJING
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA   PRETORIA

In [40]:
df['lencap'] = df['capital'].apply(lambda x:len(x))

In [41]:
df

,country,capital,area,population,COUNTRY,CAPITAL,lencap
BR,Brazil,Brasilia,8.516,200.40,BRAZIL,BRASILIA,8
RU,Russia,Moscow,17.100,143.50,RUSSIA,MOSCOW,6
IN,India,New Delhi,3.286,1252.00,INDIA,NEW DELHI,9
CH,China,Beijing,9.597,1357.00,CHINA,BEIJING,7
SA,South Africa,Pretoria,1.221,52.98,SOUTH AFRICA,PRETORIA,8

-----

In [ ]:
### 18. Adding a new column in panda dataframe

In [ ]:
# a. import data to pandas

In [29]:
import pandas as pd

df = pd.read_csv('~/python/datacamp/Notes/datasets/brics.csv', index_col=0)

In [30]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
# b. Do a for loop for the index, Country and capital values

In [3]:
for index, col in df.iterrows():
    print("{} - {}, {}".format(index, col['country'], col['capital']))

BR - Brazil, Brasilia
RU - Russia, Moscow
IN - India, New Delhi
CH - China, Beijing
SA - South Africa, Pretoria

In [4]:
# c. Do a for loop to upper the country values

In [6]:
for index, col in df.iterrows():
    print(col['country'].upper())

BRAZIL
RUSSIA
INDIA
CHINA
SOUTH AFRICA

In [9]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [7]:
# d. Show the values of capital to BR index.

In [8]:
df.loc['BR', 'capital']

'Brasilia'

In [10]:
type(df.loc['BR', 'capital'])

str

In [11]:
df.loc['BR', ['capital']]

capital    Brasilia
Name: BR, dtype: object

In [12]:
type(df.loc['BR', ['capital']])

pandas.core.series.Series

In [ ]:
#as a dataframee

In [16]:
df.loc[['BR'], ['capital']]

     capital
BR  Brasilia

In [17]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
# e. Get teh value of capital using 2 methods

In [18]:
df['capital']

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [19]:
df.loc[:, 'capital']

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [20]:
type(df['capital'])

pandas.core.series.Series

In [21]:
type(df.loc[:, 'capital'])

pandas.core.series.Series

In [22]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
# g.Get teh value of the BR rows. Can you pull usin gthe 2 methods. ANS: NO

In [23]:
df.loc['BR', :]

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [ ]:
# h. Add a new column with all the letter of the country capitalized

In [31]:
for index, column in df.iterrows():
    df.loc[index, 'COUNTRY'] = column['country'].upper()

In [32]:
df

         country    capital    area  population       COUNTRY
BR        Brazil   Brasilia   8.516      200.40        BRAZIL
RU        Russia     Moscow  17.100      143.50        RUSSIA
IN         India  New Delhi   3.286     1252.00         INDIA
CH         China    Beijing   9.597     1357.00         CHINA
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA

In [ ]:
## B. Apply Dataframe

In [33]:
df['CAPITAL'] = df['capital'].apply(str.upper)

In [34]:
df

         country    capital    area  population       COUNTRY    CAPITAL
BR        Brazil   Brasilia   8.516      200.40        BRAZIL   BRASILIA
RU        Russia     Moscow  17.100      143.50        RUSSIA     MOSCOW
IN         India  New Delhi   3.286     1252.00         INDIA  NEW DELHI
CH         China    Beijing   9.597     1357.00         CHINA    BEIJING
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA   PRETORIA

In [35]:
df['LenCAP'] = df['country'].apply(lambda x: len(x))

In [36]:
df

,country,capital,area,population,COUNTRY,CAPITAL,LenCAP
BR,Brazil,Brasilia,8.516,200.40,BRAZIL,BRASILIA,6
RU,Russia,Moscow,17.100,143.50,RUSSIA,MOSCOW,6
IN,India,New Delhi,3.286,1252.00,INDIA,NEW DELHI,5
CH,China,Beijing,9.597,1357.00,CHINA,BEIJING,5
SA,South Africa,Pretoria,1.221,52.98,SOUTH AFRICA,PRETORIA,12

In [ ]:
### Apr 18, 2020 Fibo Rep2

In [1]:
import pandas as pd

In [ ]:
# a. import data to pandas

In [2]:
df = pd.read_csv('~/python/datacamp/Notes/datasets/brics.csv', index_col = 0)

In [3]:
display(df)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
# b. Do a for loop for the index & Country & Capital values

In [5]:
for index, col in df.iterrows():
    print("{} - {}, {}".format(index, col['country'], col['capital']))

BR - Brazil, Brasilia
RU - Russia, Moscow
IN - India, New Delhi
CH - China, Beijing
SA - South Africa, Pretoria

In [ ]:
# c. Do a for loop to upper the country values

In [6]:
for index, col in df.iterrows():
    print(col['country'].upper())

BRAZIL
RUSSIA
INDIA
CHINA
SOUTH AFRICA

In [ ]:
# d. Show the value of the BR index

In [7]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [8]:
df.loc['BR',:]

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [9]:
type(df.loc['BR',:])

pandas.core.series.Series

In [12]:
df.loc['BR', 'capital']

'Brasilia'

In [13]:
type(df.loc['BR', 'capital'])

str

In [ ]:
#i pull same data as a series with capital as the primary index

In [14]:
df.loc['BR', ['capital']]

capital    Brasilia
Name: BR, dtype: object

In [ ]:
# e. Get the value of the capital columns using 2 methods

In [15]:
df['capital']

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [16]:
df.loc[:, 'capital']

BR     Brasilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

In [ ]:
# f. Get the value of the BR rows. Can you pull the data using 2 methods? no

In [18]:
df.loc['BR', :]

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [19]:
type(df.loc['BR', :])

pandas.core.series.Series

In [ ]:
# g. Panda Series

In [ ]:
# h. Add a new column with all the letter of country capitalized using loop

In [22]:
for index, col in df.iterrows():
    df.loc[index, 'COUNTRY'] = col['country'].capitalize()

In [23]:
df

         country    capital    area  population       COUNTRY
BR        Brazil   Brasilia   8.516      200.40        Brazil
RU        Russia     Moscow  17.100      143.50        Russia
IN         India  New Delhi   3.286     1252.00         India
CH         China    Beijing   9.597     1357.00         China
SA  South Africa   Pretoria   1.221       52.98  South africa

In [ ]:
### Apply Data Frame

In [24]:
df['CAPITAL'] = df['capital'].apply(str.upper)

In [25]:
df

         country    capital    area  population       COUNTRY    CAPITAL
BR        Brazil   Brasilia   8.516      200.40        Brazil   BRASILIA
RU        Russia     Moscow  17.100      143.50        Russia     MOSCOW
IN         India  New Delhi   3.286     1252.00         India  NEW DELHI
CH         China    Beijing   9.597     1357.00         China    BEIJING
SA  South Africa   Pretoria   1.221       52.98  South africa   PRETORIA

In [50]:
df['CAPITAL'] = df['capital'].apply(split('e'))

NameError: name 'split' is not defined

In [34]:
df

         country    capital    area  population       COUNTRY    CAPITAL
BR        Brazil   Brasilia   8.516      200.40        Brazil   Brasilia
RU        Russia     Moscow  17.100      143.50        Russia     Moscow
IN         India  New Delhi   3.286     1252.00         India  New delhi
CH         China    Beijing   9.597     1357.00         China    Beijing
SA  South Africa   Pretoria   1.221       52.98  South africa   Pretoria

In [39]:
s = 'james'

In [38]:
s.split(sep='a')

['j', 'mes']

In [40]:
s.str.split(sep='a')

AttributeError: 'str' object has no attribute 'str'

In [47]:
df['CAPITAL'] = df['capital'].str.split('e')

In [48]:
df

         country    capital    area  population       COUNTRY        CAPITAL
BR        Brazil   Brasilia   8.516      200.40        Brazil     [Brasilia]
RU        Russia     Moscow  17.100      143.50        Russia       [Moscow]
IN         India  New Delhi   3.286     1252.00         India  [N, w D, lhi]
CH         China    Beijing   9.597     1357.00         China     [B, ijing]
SA  South Africa   Pretoria   1.221       52.98  South africa    [Pr, toria]